<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Landing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-black " style="z-index: 100">
      <div class="container">
        <a class="navbar-brand" href="#">
            <h5 class="text-white">Travell.ID</h5>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href='/'>
                <h5 class="text-white">Home</h5>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href='/about'>
                <h5 class="text-white">About</h5>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/service'>
                  <h5 class="text-white">Service</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/popular'>
                  <h5 class="text-white">Popular</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/Settings'>
                  <h5 class="text-white">Settings</h5>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <center>
      <img src="https://img-z.okeinfo.net/library/images/2018/07/19/wcxph1a7oysvjmu6bnsi_16571.jpg" alt="Description when image is not found" width="1366" height="590">
    </center>
     
      <div class="card-img-overlay text-uppercase text-black font-weight-bolder mt-5">
        <br><br><br><br><br>
        <h1 style="margin-left:  87px;" class="fs-10 text-black mb-4">Enjoy Your Vacation With Us</h1>
        <p style="margin-left:87px;" style="font-size:10vw;" class=" fs-4 text-black mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br> Necessitatibus, ratione rem. Dignissimos dicta architecto <br> autem voluptatibus nemo rem suscipit, exercitationem,<br> facere accusantium ex aliquid? Eaque officiis pariatur <br> nisi magnam dolores!</p>
        <button style="margin-left:  87px;" type="button" class="btn btn-dark">Read More</button>
      </div>
    
</body>
</html>