<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Settings Landing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

  </head>
  <body style="background-color:black;">
    <nav class="navbar navbar-expand-lg bg-black ">
      <div class="container">
        <a class="navbar-brand" href="#">
            <h5 class="text-white">Travel.ID</h5>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href='/'>
                <h5 class="text-white">Home</h5>
            </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href='/about'>
                <h5 class="text-white">About</h5>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/service'>
                  <h5 class="text-white">Service</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/popular'>
                  <h5 class="text-white">Popular</h5>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href='/Settings'>
                  <h5 class="text-white">Settings</h5>
                </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br><br><br><br><br><br>
    <div class="row gx-4">

      <div class="col-lg-3 col-md-6">
        <div class="service-item rounded pt-3">
          <h4 class="text-white mb-3">Company</h4>
          <a href="" class="btn"><h5 class="text-success">Settings</h5></a>
          <a href="" class="btn"><h5 class="text-success">Contact Us</h5></a>
          <a href="" class="btn"><h5 class="text-success">Privacy Policy</h5></a>
          <a href="" class="btn"><h5 class="text-success">FAQ & Help</h5></a>
          <a href="" class="btn"><h5 class="text-success">Terms & Condition</h5></a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="service-item rounded pt-3">
          <h4 class="text-white mb-3">Contact</h4>
          <p class="mb-2 text-white"><i class="fa fa-map-marker-alt me-3"></i>123 Street,New York, USA</p>
          <p class="mb-2 text-white"><i class='fas fa-phone-alt me-3'></i>+62 831 4933 3730</p>
          <p class="mb-2 text-white"><i class='fas fa-envelope me-3 '></i>ilham340@gmail.com</p> 
        </div>

          <div class="f-flex pt-2">
            <a href="" class="btn btn-outline-light btn-social">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="btn btn-outline-light btn-social">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="btn btn-outline-light btn-social">
              <i class="fab fa-youtube"></i>
            </a>
            <a href="" class="btn btn-outline-light btn-social">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="service-item rounded pt-3">
          <h4 class="text-white mb-3">Galery</h4>

          <div class="row g-2 pt-2">

            <div class="col-4">
              <img src="https://www.pajak.com/storage/2022/09/Thailand-3-758x506.jpg" alt="" class="img-fluid bg-light p-1">
            </div>
            <div class="col-4">
              <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2021/09/15150607/Negara-TUrki-300x198.jpg" alt="" class="img-fluid bg-light p-1">
            </div>
            <div class="col-4">
              <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2021/09/15151216/Negara-Brazil-300x200.jpg" alt="" class="img-fluid bg-light p-1">
            </div>
            <div class="col-4">
              <img src="https://www.pajak.com/storage/2022/09/Thailand-3-758x506.jpg" alt="" class="img-fluid bg-light p-1">
            </div>
            <div class="col-4">
              <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2021/09/15150607/Negara-TUrki-300x198.jpg" alt="" class="img-fluid bg-light p-1">
            </div>
            <div class="col-4">
              <img src="https://cdnwpseller.gramedia.net/wp-content/uploads/2021/09/15151216/Negara-Brazil-300x200.jpg" alt="" class="img-fluid bg-light p-1">
            </div>

          </div>
        </div>

      
      
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="service-item rounded pt-3">
          <h4 class="text-white mb-3">Newsletter</h4>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, odit?</p>
              <div class="position-relative mx-auto" style="max-width: 400px;">
                <input type="text" class="form-control border-success w-100 py-3 ps-4 pe-5" placeholder="Your Email">
                <button class="btn btn-success py-2 position-absolute top-0 end-0 mt-2 me-2" type="button">Sign Up</button>
              </div>
        </div>
      </div>


    </div>
</body>
</html>
